# BACKEND & PYTHON 
venv/
.venv/
**/__pycache__/
*.pyc

# FRONTEND & NEXT.JS (Padrão)
# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files
frontend/.env*

# vercel & typescript
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# SISTEMA OPERACIONAL & IDEs
.DS_Store
*.pem
.vscode/
.idea/